<!DOCTYPE html>
<html lang="pt">
 <head>
  <meta charset="utf-8">
  <title>AudioAlly</title>
  <%- include('../../partials/header');-%>

  <style>
      body {
        text-align: center;
        padding: 40px 0;
        background: #334257;
      }
        h1 {
          color: #0069A2;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #404F5E;
          font-size:20px;
          margin: 0;
        }
      i {
        color: #0069A2;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>


  </body>

  <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Sucesso</h1> 
        <p>A sua marcação foi concluída!<br/> Entraremos em contacto por e-mail!</p>
        <div class="col-md-12 text-center ">
          <br>
          <a href="/cliente/marcacoes/<%= utilizador %>"><button class=" btn btn-block mybtn btn-primary tx-tfm">Visualizar Marcações</button>
            <br>
          <a href="/cliente/formulario/<%= utilizador %>"><button class=" btn btn-block mybtn btn-primary tx-tfm">Nova Marcação</button>
       </div>
      </div>

      <%- include('../../partials/footer');-%>




<script type="text/javascript">
  $(document).ready(function() {
     $(".menu-icon").on("click", function() {
           $("nav ul").toggleClass("showing");
     });
});

// Scrolling Effect

$(window).on("scroll", function() {
     if($(window).scrollTop()) {
           $('nav').addClass('black');
     }

     else {
           $('nav').removeClass('black');
     }
})
</script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

</body>

</html>