<!DOCTYPE html>
<html lang="pt">
 <head>

  <title>AudioAlly</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" type="text/css" href="../../assets/css/estilos_menu.css">
  <link href='https://fonts.googleapis.com/css?family=Jockey One' rel='stylesheet'>

  <style>
    ::-webkit-calendar-picker-indicator {
     filter: invert(1);
 }
 </style>

  </head>
  <body>

    <div id="logo"><h1>AudioAlly</h1></div>

    <section>

      <div class="signin" style="padding-bottom: 3%;"> 
   
   
       <div class="content"> 
      
        <h2>REGISTER</h2>
        <form action="" name="registration" method="POST">

        <div class="form"> 
   
         <div class="inputBox"> 
   
          <input type="text" name="nome" required maxlength="64"> <i>Full Name</i> 
   
         </div> 
   
         <div class="inputBox"> 
   
          <input type="text" name="username" required maxlength="32"> <i>Username</i> 
   
         </div> 
   
         <div class="inputBox"> 
   
            <input type="email" name="email" required maxlength="100"> <i>Email</i> 
     
           </div> 
   
           <div class="inputBox" style="display: flex;"> 
   
            <input type="date" name="data" required maxlength="64" > <i>Birth Date</i> 
            
           </div> 
   
           <div class="inputBox"> 
   
          <!--<input type="text" name="sexo" required maxlength="64"> <i>Genre</i>  -->
          <i>Genre</i>
          <br>
            <select style="width: 100%;background:none" class="select" name="servico" id="servico" form="criarMarcacao" required>
              <option value="Escolha um servico" disabled selected>Choose your genre:</option>
                  <option value="Male" name="servico">Male</option>
                  <option value="Female" name="servico">Female</option>
            </select>
           </div> 
   
           <div class="inputBox"> 
   
            <input type="password" name="password" maxlength="64" required> <i>Password</i> 
     
           </div> 
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
            <label for="defaultCheck1" style="color: white;">I read and accept the <a href="#">Therms of use</a></label>
          </div>

          <%   if(typeof error != "undefined" && error) { %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>

         <div class="inputBox"> 
   
          <input type="submit" value="Register"> 
   
         </div> 
         
         <h3>Already have an account? <a href="/login">Login here</a></h3>
   
        </div> 
      </form>

       </div> 
   
      </div> 
   
     </section>


</body>

</html>